@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 6px;
    height: 10px;
    scrollbar-shadow-color: #555;
}
::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
   
    border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.draggable-item {
  width: 10rem; /* Ensure this matches your card size */
  height: 10rem;

  box-sizing: border-box; /* Ensure padding is included in dimensions */
}


/* src/styles/globals.css */
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .flipped .transform-style-preserve-3d {
    transform: rotateY(180deg);
  }
}
